body{
    font-family: "Noto Sans TC";
    margin: 0px;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-top: 54px;
    color: #666666;
}

a{
    text-decoration: none;
    color:#448899;
}

hr{
    width: 1180px;
    border: 0.5px solid #E8E8E8;
    margin-top: 40px;
    margin-bottom: 40px;
}

#signinclick, #signupclick{
    cursor: pointer;
}

.nav__bg{
    background-color: white;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 54px;
    top: 0px;
}

.nav{
    /* 整個nav bar的設定 */
    flex: none;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* 台北一日遊字樣設定 */
    color:#448899;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    position: relative;
}

.nav__left{
    padding-left:10px
}

.nav__right{
    color:#666666;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__right--plan{
    padding: 10px;
    flex: none;
    cursor: pointer;
}

.nav__right--user{
    flex: none;
    padding: 10px;
    cursor: pointer;
}

a{
    white-space: nowrap;
}

dialog{
    padding: 0px;
    border: 1px ;
    border-radius: 5px;
    box-shadow: 0px 4px 60px 0px #AAA;
}

dialog::backdrop{
    background: rgba(0, 0, 0, 0.4);
    /* padding: 0px; */
}

.completeform{
    display: flex;
    flex-direction: column;
    width: 332px;
}

.bluebar{
    height: 10px;
    width: inherit;
    background: linear-gradient(270deg, #378 0%, #6AB 100%);
    /* border-radius: 5px 5px 0px 0px; */
}

.signupform{
    background-color: white;
    /* border-radius: 0px 0px 5px 5px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;  
    color: #666666; 
    position: relative;
}

.icon_close{
    position: absolute;
    width: 16px;
    height: 16px;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

.signinHeader{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
}

.signupformdetail div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signininfo{
    padding: 10px;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    margin-bottom: 10px;
}

.submitbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 310px;
    height: 47px;
    background-color: #489;
    color: white;
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 10px;
    cursor: pointer;
}

.switch{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}

#formcontent_signin{
    display: none;
}

.successmessage{
    text-align: center;
    color: green;
}

.errormessage, .signinfailmessage{
    text-align: center;
    color: red;
}

.footer{
    background-color:#757575;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 104px;
    width: 100%;
    right: 0px;
    left: 0px;
    bottom: 0px;
    color: white;
    margin-top: auto;
}

@media (max-width:1200px){
    hr{width: 95%}
    .nav{width:100%}
}

@media (max-width:640px){
    hr{width: 95%}
    .nav{width:100%}
}