<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>錯誤</title>
    <link rel="stylesheet" type="text/css" a href="/static/standard.css"/>
    <script defer src="/static/standard.js"></script>
</head>
<body>
    <!-- top bar -->
    <div class="nav__bg">
        <div class="nav">
            <span class="nav__left"><a href="/">台北一日遊</a></span>
            <div class="nav__right">
                <span class="nav__right--plan">預定行程</span>
                <span class="nav__right--user">登入/註冊</span>
            </div>
        </div>
    </div>

    <!-- main content -->
    <div class="error message">
        {{ result }}
    </div>

    <!-- footer -->
    <div class="footer">COPYRIGHT © 2021 台北一日遊</div>
</body>
</html>