<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>景點内容</title>
    <link rel="stylesheet" type="text/css" a href="/static/standard/standard.css"/>
    <link rel="stylesheet" type="text/css" a href="/static/attraction/attraction.css"/>
    <script defer src="/static/attraction/attraction.js"></script>
    <script defer src="/static/standard/standard.js"></script>
</head>
<body onload="verify()">
    <dialog class="modal">
        <div>Hello</div>
    </dialog>
    <!-- top bar -->
    <div class="nav__bg">
        <div class="nav">
            <span class="nav__left"><a href="/">台北一日遊</a></span>
            <div class="nav__right">
                <span class="nav__right--plan">預定行程</span>
                <span class="loading"></span>
                <span class="nav__right--user"></span>
                <!-- <span class="nav__right--user skeleton skeleton_status"></span> -->
            </div>
        </div>
    </div>
    <!-- main content -->
    <div class="detail__display">
        <div class="detail__display--pics skeleton">
            <div class="detail__display--gallery"></div>
            <div class="functions">
                <div class="detail__display--leftClick"><span> <span> < </span> </span></div>
                <div class="slider"></div>
                <div class="detail__display--rightClick"><span> <span> > </span> </span></div>
            </div> 
        </div>
        <!-- <div class="detail__display--space"></div> -->
        <div class="detail__display--profile">
            <div class='detail__display--profile--title skeleton skeleton_text skeleton_text_title'></div>
            <div class="detail__display--profile--short skeleton skeleton_text skeleton_text_shortDescription"></div>
            <div class="detail__display--profile--booking">
                <div class="booking--title">訂購導覽行程</div>
                <div class="booking--des">以此景點為中心的一日行程，帶您探索城市角落故事</div>
                <div class="booking--form--date">選擇日期：
                    <input type="date" min="today" id="date"/>
                    <!-- <div class="datepicker">
                        <input placeholder="yyyy/mm/dd" type="text" onfocus="(this.type='date')">
                        <img src="/static/images/calendar.png"/>
                    </div> -->
                    
                </div>
                <div class="booking--form--time">
                    <span>選擇時間：</span>
                    <label><img id="day" src="/static/images/radiobtn_selected.svg"/><input type="radio" value="d" name="dorn" class="dorn" checked>上半天</label>
                    <label style="margin-left:10px"><img id="night" src="/static/images/radiobtn_not_selected.svg"/><input type="radio" value="n" name="dorn" id="n" class="dorn"/>下半天</label>
                </div>
                <div class="booking--form--price">導覽費用：
                    <span>新台幣<span>2000</span>元</span>
                </div>
                <div class="booking--confirm">開始預約行程</div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="detail__intro">
        <div class="detail__intro--description skeleton skeleton_text" id="general"></div>
        <div class="skeleton skeleton_text"></div>
        <div class="skeleton skeleton_text"></div>
        <div class="skeleton skeleton_text skeleton_text_last"></div>
        <!-- <div class="detail__intro--location"> -->
            <div class="detail__intro--location--title">景點地址：</div>
            <div class="detail__intro--location--content skeleton skeleton_text" id="location"></div>
            <div class="skeleton skeleton_text skeleton_text_last"></div>
        <!-- </div> -->
        <!-- <div class="detail__intro--transport"> -->
            <div class="detail__intro--transport--title">交通方式：</div>
            <div class="detail__intro--transport--content skeleton skeleton_text" id="transport"></div>
            <div class="skeleton skeleton_text skeleton_text_last"></div>
        <!-- </div> -->
    </div>
    <!-- footer -->
    <div class="footer">COPYRIGHT © 2021 台北一日遊</div>
</body>
</html>