<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>預定行程</title>
    <link rel="stylesheet" type="text/css" a href="/static/standard.css"/>
    <link rel="stylesheet" type="text/css" a href ="/static\booking.css">
    <script defer src="/static/standard.js"></script>
    <script defer src="/static/booking.js"></script>
    <script src="https://js.tappaysdk.com/sdk/tpdirect/v5.14.0"></script>
    <!-- <script defer src="/static/payment.js"></script> -->
</head>
<body onload="verify();confirm()">
    <div class="nav__bg">
        <div class="nav">
            <span class="nav__left"><a href="/">台北一日遊</a></span>
            <div class="nav__right">
                <span class="nav__right--plan">預定行程</span>
                <span class="nav__right--user">登入/註冊</span>
            </div>
        </div>
    </div>

    <div class="welcomeMessage">您好，<span></span>，待預訂的行程如下：</div>
    <div class="nopreview" style="display: none;">目前沒有任何待預訂的行程
        <div class="checkOrder">查看過往訂單</div>
    </div>
    <div class="itemContainer">
        <div class="selectedItem">
        <!-- <div class="selectedItem__img"></div>
        <div class="selectedItem__details">
            <div class="selectedItem__details--title">台北一日遊：<span></span></div>
            <div class="selectedItem__details--date">日期：<span></span></div>
            <div class="selectedItem__details--time">時間：<span></span></div>
            <div class="selectedItem__details--price">費用：<span></span></div>
            <div class="selectedItem__details--location">地點：<span></span></div>
        </div> -->
        </div>
    </div>
    

    <div class="collectInfo">
        <hr/>

        <div class="contactForm">
            <div class="anyForm__title">您的聯絡資訊</div>
            <div class="anyForm">聯絡姓名：
                <span><input type="text" id="contactName" required></span>
            </div>
            <div class="anyForm">連絡信箱：
                <span><input type="text" id="contactEmail" required></span>
            </div>
            <div class="anyForm">手機號碼：
                <span><input type="number" id="contactNumber" required></span>
            </div>
            <div class="contactForm__ps">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</div>
        </div>

        <hr/>

        <!-- <div class="paymentForm">
            <div class="anyForm__title">信用卡付款資訊</div>
            <div class="anyForm">卡片號碼：
                <span class="tpfield" id="card"><input type="text" required></span>
            </div>
            <div class="anyForm">過期時間：
                <span class="tpfield" id="exp"><input type="text" required></span>
            </div>
            <div class="anyForm">驗證密碼：
                <span class="tpfield" id="ccv"><input type="text" required></span>
            </div>
        </div> -->
        <div class="paymentForm">
            <div class="anyForm__title">信用卡付款資訊</div>
            <div class="anyForm">卡片號碼：
                <span class="tpfield" id="card"></span>
                <span id="cardType"></span>
            </div>
            <div class="anyForm">過期時間：
                <span class="tpfield" id="exp"></span>
            </div>
            <div class="anyForm">驗證密碼：
                <span class="tpfield" id="ccv"></span>
            </div>
        </div>

        <hr/>

        <div class="confirm">
            <div class="confirm__details">
                <div class="confirm__details--price"></div>
                <div class="confirm__details--btn" disabled>確認訂購並付款</div>
                <div class="failmessage"></div>
                <div class="checkOrder_link">點擊查看過往訂單</div>
            </div>
        </div>
    </div>

    <div class="footer">COPYRIGHT © 2021 台北一日遊</div>
</body>
</html>