<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台北一日遊</title>
    <link rel="stylesheet" type="text/css" a href="static/layout.css"/>
    <!-- <script defer src="static/index.js"></script> -->
</head>
<body>
    <!-- top bar -->
    <div class="nav__bg">
        <div class="nav">
            <span class="nav__left">台北一日遊</span>
            <div class="nav__right">
                <span class="nav__right--plan">預定行程</span>
                <span class="nav__right--user">登入/註冊</span>
            </div>
        </div>
    </div>
    <div class="banner">
        <div class="banner__word">
            <div class="banner__word--slogan1">輕鬆享受台北一日悠閒</div>
            <div class="banner__word--slogan2">探索每個角落，體驗城市的深度旅遊行程</div>
            <div class="banner__word--search">
                <div class="banner__word--search--typebox">
                    <form action="/api/attractions" id="form">
                        <input type="text" name="keyword" placeholder="輸入景點名稱查詢" id="keyword">
                        </div>
                        <button class="banner_word--search--buttonBg" id="btn" type="submit">
                            <span class="banner_word--search--buttonicon"><img src="/static/images/SearchIcon.png"/></span>
                        </button>
                    </form>
            </div>
        </div>
    </div>
    <!-- 網頁主畫面 -->
    <div class="main">
        <!-- 捷運站 -->
        <div class="main__mrt">
            <div class="main__mrt--left"><img src="/static/images/LeftArrow.png"/></div>
            <ul class="main__mrt--middle">
            </ul>
            <div class="main__mrt--right"><img src="/static/images/RightArrow.png"/></div>
        </div>
        
        <!-- 景點 -->
        <div class="main__att1--setup">
        </div>
    </div>

    
    <!-- footer -->
    <div class="footer">COPYRIGHT © 2021 台北一日遊</div>
    
    <script>
        // 載入初始網頁的程式
        m();
        let page=0;
        let keyword = "";
        console.log("launch page")
        load();
        console.log("loading")

        // 功能開發
        // 生成捷運站列表

        function m(){
            fetch("/api/mrts")
                .then(function(receive){
                    return receive.json();
                }).then(function(mrt){
                    let mrts=mrt["data"];

                    let s=0;
                    more();

                    itemlist=document.querySelector(".main__mrt ul")
                    leftarrow=document.querySelector(".main__mrt--left")
                    rightarrow=document.querySelector(".main__mrt--right")

                    // 載入更多捷運站
                    rightarrow.addEventListener("click", function(get){
                        more();
                        let w = window.innerWidth;
                        if(w <= 640){
                            itemlist.scrollLeft += 200;
                        }else if(w <= 1200){
                            itemlist.scrollLeft += 500;
                        }else{
                            itemlist.scrollLeft += 1000;
                        }
                        // console.log("scroll width: ",itemlist.scrollWidth);
                        // console.log("client width: ", itemlist.scrollWidth);
                    });

                    leftarrow.addEventListener("click", function(back){
                        let w = window.innerWidth;
                        if(w <= 640){
                            itemlist.scrollLeft -= 200;
                        }else if(w <= 1200){
                            itemlist.scrollLeft -= 500;
                        }else{
                            itemlist.scrollLeft -= 1000;
                        }
                        // console.log("scroll width: ", itemlist.scrollWidth);
                        // console.log("client width: ", itemlist.clientWidth);
                    });

                    // 點擊左右按鈕載入更多捷運站
                    function more(){
                        let dis = parseInt((mrts.length / 2) + 1);
                        let e = s + dis;
                        let r = mrts.length-1 - e;
                        if(s==0){
                            let r = mrts.length-1 - e;
                        }
                        else if(r+dis < dis){
                            e=mrts.length;
                        }
                        else{
                            e=mrts.length-1;
                        }

                        for(k=s;k<e;k++){
                            let list=document.querySelector(".main__mrt--middle");
                            const e_mrt=document.createElement("li");
                            e_mrt.innerText=mrts[k];
                            e_mrt.onclick = function(){
                                let clicked_mrt=e_mrt.innerText
                                // console.log(clicked_mrt);
                                let getkeyword=document.querySelector("#keyword");
                                getkeyword.value=clicked_mrt;
                                let query=document.querySelector(".banner_word--search--buttonicon");
                                query.click();
                            };
                            e_mrt.className=".main__mrt ul li";
                            list.appendChild(e_mrt);
                        }
                        s+=dis;
                    }
                })       
        }

        // Infinite Scrolling 功能
        const intersectionObserver = new IntersectionObserver(entries => {
            // If intersectionRatio is 0, the button is out of view and we do not need to load anything more
            if (entries[0].isIntersecting == false){
                return
            }
            console.log("observe and load")
            load();
            console.log("stop observe")
            intersectionObserver.unobserve(document.querySelector(".footer"))
            console.log("stop observe 2")
        }, {
            rootMargin:"100px",
        })

        // keyword 搜尋功能
        let form=document.querySelector("#form");
        form.addEventListener("submit", function (res){
            res.preventDefault();
            let getkeyword=document.querySelector("#keyword");
            keyword=getkeyword.value;
            console.log(keyword);
            page=0;

            let emptyPage = document.querySelector(".main__att1--setup");
            emptyPage.replaceChildren();
            
            load()
        })


        // let main__att1=document.querySelector('.main__att1--setup');
        main__att1 = document.querySelector(".main__att1--setup");
        // 連綫到後端取得資料
        function load(){
            console.log("page",page, "keyword", keyword)
            if(page == null){
                console.log("沒有更多資料")
                intersectionObserver.unobserve(document.querySelector(".footer"))
            }
            else{
                src="/api/attractions?page="+page+"&keyword="+keyword
                console.log("before fetch", src)
                fetch(src)
                    .then(function(response){
                        console.log("in fetch", src)
                        console.log("response", response)
                        return response.json();
                    }).then(function(result){
                        let data=result["data"]
                        console.log("data", data)
                        page = result["nextPage"]
                        console.log("next page", page)
                        if(data.length == 0 || data == undefined){
                            main__att1.replaceChildren();
                            let nothing = document.createElement("div");
                            console.log("沒有搜尋結果")
                            nothing.innerText="沒有搜尋結果";
                            nothing.className="out"
                            main__att1.appendChild(nothing)
                            intersectionObserver.unobserve(document.querySelector(".footer"))
                        }
                        else{
                            // 開始搜尋
                            console.log("fetching for: ", keyword)
                            for(i=0;i<data.length;i++){
                                // console.log(data[i]["name"])
                                // 呼叫想要加入div
                                let main__att1=document.querySelector('.main__att1--setup');
                                // 製造框架同時加入class設定，然後append到section裏面
                                const main__card=document.createElement('div');
                                main__card.className="main__att1";
                                main__att1.appendChild(main__card);

                                const main__photo=document.createElement('div');
                                main__photo.style.backgroundImage='url('+data[i]["images"][0]+')';
                                main__photo.className="main__att1--photo";
                                main__card.appendChild(main__photo);

                                const main__photoBg=document.createElement('div');
                                main__photoBg.className="main__att1--photo--Bg";
                                main__photo.appendChild(main__photoBg);
                                
                                const main__photoWd=document.createElement('span');
                                main__photoWd.innerText=data[i]["name"];
                                main__photoWd.className="main__att1--photo--word";
                                main__photo.appendChild(main__photoWd);
                                
                                const main__desc=document.createElement('div');
                                main__desc.className="main__att1--desc";
                                main__card.appendChild(main__desc);
                                
                                const main__descMrt=document.createElement('span');
                                main__descMrt.innerText=data[i]["mrt"];
                                main__descMrt.className="main__att1--desc--mrt";
                                main__desc.appendChild(main__descMrt);

                                const main__descCat=document.createElement('span');
                                main__descCat.innerText=data[i]["category"];
                                main__descCat.className="main__att1--desc--cat";
                                main__desc.appendChild(main__descCat);
                            }
                        }
                        // 呼叫 Inf Scroller
                        console.log("start observe")
                        intersectionObserver.observe(document.querySelector(".footer"))
                    })
            }
        }
        
    </script>
</body>
</html>