<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>查看訂單記錄</title>
    <link rel="stylesheet" type="text/css" a href="/static/standard/standard.css"/>
    <link rel="stylesheet" type="text/css" a href="/static/order/order.css"/>
    <script defer src="/static/standard/standard.js"></script>
    <script defer src="/static/order/order.js"></script>
</head>
<body onload="verify();confirm()">
    <div class="nav__bg">
        <div class="nav">
            <span class="nav__left"><a href="/">台北一日遊</a></span>
            <div class="nav__right">
                <span class="nav__right--plan">預定行程</span>
                <span class="loading"></span>
                <span class="nav__right--user"></span>
                <!-- <span class="nav__right--user skeleton skeleton_status"></span> -->
            </div>
        </div>
    </div>

    <!-- main content -->
    <!-- <div class="main"> -->
    <div class="main__title">請點擊以下已確定的行程編號查看詳情：</div>
    <div class="main__orders skeleton skeleton_text"></div>
    <hr/>
    <div class="main__orders__list">
        <div class="tripContainer">
            <div class="tripImage skeleton"></div>
            <div class="tripinfo">
                <div class="titles skeleton skeleton_text skeleton_text_title"></div>
                <div class="content skeleton skeleton_text"></div>
                <div class="content skeleton skeleton_text"></div>
                <div class="content skeleton skeleton_text"></div>
                <div class="content skeleton skeleton_text"></div>
            </div>
        </div>
    </div>
    
        <!-- <div class="main__orders__details">
            <div class="main__orders__details--contact"></div>
            <div class="main__orders__details--trip"></div>
        </div> -->
    </div>
    
    <!-- </div> -->

    <!-- footer -->
    <div class="footer">COPYRIGHT © 2021 台北一日遊</div>
</body>
</html>