<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>感謝</title>
    <link rel="stylesheet" type="text/css" a href="/static/standard.css"/>
    <link rel="stylesheet" type="text/css" a href="/static/thankyou.css"/>
    <script defer src="/static/standard.js"></script>
    <script defer src="/static/thankyou.js"></script>
</head>
<body onload="verify();confirm()">
    <!-- top bar -->
    <div class="nav__bg">
        <div class="nav">
            <span class="nav__left"><a href="/">台北一日遊</a></span>
            <div class="nav__right">
                <span class="nav__right--plan">預定行程</span>
                <span class="loading"></span>
                <span class="nav__right--user"></span>
                <!-- <span class="nav__right--user skeleton skeleton_status"></span> -->
            </div>
        </div>
    </div>

    <!-- main content -->
    <div class="main_content">
        <div class="confirmMessage">您好，<span></span>，已確認的訂單號碼如下：</div>
        <div class="order_number"></div>
    </div>

    <!-- 查看過往訂單 -->
    <div class="checkOrder">查看過往訂單</div>

    <!-- footer -->
    <div class="footer">COPYRIGHT © 2021 台北一日遊</div>
</body>
</html>